@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --primary-color: #FFF;
}
body{
    font-family: 'League Spartan', sans-serif;
}
.header-image{
    position: relative;
    flex: 2 1 0;
}
.header-text{
    font-weight: 600;
}
.logo-wrapper{
    position: absolute;
    top: 11%;
    left: 10%;
}
.nav-row{
    position: absolute;
    top: 10%;
    left: 25%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    color: var(--primary-color);
}
.header-padding{
    padding: 0 5%;
}
.header-row{
    margin-bottom: 35px;
}
.paragraph-row{
    margin-bottom: 35px;
}
.header-text{
    font-size: 47px;
}
.paragraph-text{
    font-size: 15px;
    color: hsl(0, 0%, 63%)
}
.shop-btn{
    letter-spacing: 10px;
    font-weight: 600;
}
.shop-arrow-wrapper{
    width: 77px;
}
.arrow-box{
    background-color: black;
}
.arrow-wrapper{
    width: 25px;
    height: 35px;
}
.left-arrow, .right-arrow{
    width: 100%;
    height: 100%;
}
.row.arrow-row{
    width: 120px;
    height: 60px;
}
.middle-col-title{
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 15px;
}
.about-furniture-text{
    color: hsl(0, 0%, 63%)
}
.left-arrow:hover, .right-arrow:hover{
    cursor: pointer;

}