@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #FFF;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-image{
    position: relative;
    flex: 2 1 0;
}
.header-text{
    font-weight: bold;
}
.logo-wrapper{
    position: absolute;
    top: 11%;
    left: 10%;
}
.nav-row{
    position: absolute;
    top: 10%;
    left: 25%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    color: var(--primary-color);
}
.header-padding{
    padding: 0 5%;
}
.header-row{
    margin-bottom: 35px;
}
.header-text{
    font-size: 47px;
}
.paragraph-text{
    font-size: 15px;
}
